body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2; 
}

.visability-hidden,
.filter-checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.site-container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;  
  min-height: 56px;  
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -71px;
  z-index: 1;
}

.main-navigation {
  line-height: 26px;  
  background-color: #ffffff;
  display: flex;
}

.site-navigation {
  list-style: none;
  padding-left: 0px;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-item {
  text-align: left;
  padding-right: 147px;
}

.right-item {
  text-align: right;
  padding-left: 162px;
}

.left-item + .right-item {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation .current {
  color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.main-data {
  position: relative; 
}

.welcome-image {
  position: relative;
  min-height: 509px;
  background-image: url("../img/background_photo.jpg");
  background-color: #5496bd;  
  background-repeat: no-repeat;
  background-position-y: -56px;
}

.welcome-image::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/intro-mask.svg");
  width: 100%;

  top: 452px;
  content: "";
  background-repeat: no-repeat;
  z-index: 1;
}

.welcome-image img {
  position: absolute;
  left: 50%;
  margin-left: -231px;
  margin-top: 77px;
}

.welcome-text {
  text-align: center;
  line-height: 26px;
}

.welcome-text p {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin-top: 59px;
}

.header-text-2 {
  margin-top: 27px;
  margin-bottom: 51px;
}




/*------------reasons------------*/
.reasons-list-1,
.reasons-list-2,
.reasons-list-3 {
  list-style: none;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
}

.reasons-list-1 {
  flex-direction: column;
  margin: 0px;
}

.reason-item > div {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-list-1 > li:nth-child(2) {
  background-color: #ffffff;
}

.reasons-list-1 > li:nth-child(4) {
  background-color: #eeeeee;
}

.reason-item {
  text-align: center;
}

.item-pic {
  display: flex;
}

.item-pic div {
  min-width: 400px;
  padding-bottom: 45px;
  padding-top: 46px;
}

.reason-item .reason-header {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.item-pic .reason-header {
  margin: 0 auto;
  width: 151px;
  margin-bottom: 24px; 
}

.item-pic .reason-about {
  margin: 0 auto;
  width: 305px;
  margin-top: 21px;
}

.reasons-list-2 .reason-item {
  width: 400px;
  box-sizing: border-box;
  padding-top: 140px;
  padding-bottom: 82px;
  padding-left: 20px;
  padding-right: 20px;
}

.reasons-list-2 .reason-header {
  position: relative;
  margin-bottom: 24px;
}

.reasons-list-2 .reason-about {
  width: 290px;
  margin: 0 auto;
}

.house,
.burger,
.present {
  position: relative
}

.house::before {
  position: absolute;
  top: -101px;
  left: 50%;
  margin-left: -38px;
  content: "";
  background-image: url("../img/house.svg");
  height: 72px;
  width: 75px;
}

.burger::before {
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -37px;
  content: "";
  background-image: url("../img/burger.svg");
  height: 70px;
  width: 74px;
}

.present::before {
  position: absolute;
  top: -105px;
  left: 50%;
  margin-left: -32px;
  content: "";
  background-image: url("../img/present.svg");
  height: 76px;
  width: 64px;
}

.reasons-list-3 li {
  width: 400px;
  box-sizing: border-box;
  padding-top: 47px;
  padding-bottom: 59px;
  padding-left: 20px;
  padding-right: 20px;
}

.reasons-list-3 .reason-header {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 150px;
}

.reasons-list-3 .reason-about {
  width: 268px;
  margin: 0 auto;
  margin-top: 21px;
}
/*------------reasons------------*/


/*------------buttons------------*/
.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
  cursor: pointer;
}

.button:active {
  background-color: #503e33;
  color: #928a85;
}

.blue-button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.blue-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}
/*------------buttons------------*/



/*------------hotel search------------*/
.hotel-search {
  background-color: #ffffff;
  text-align: center;
}

.hotel-search .search-header {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 24px;
}

.hotel-search .button {
  font-size: 21px;
  line-height: 26px;
  min-height: 86px;
  width: 568px; 
  margin-top: 33px;
}
/*------------hotel search------------*/



/*------------Page footer------------*/
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 132px;
  padding-right: 101px;
}

.main-page .main-footer {
  position: absolute;
  bottom: 7px;
  width: 100%;
  box-sizing: border-box;
}

.hotels-page .main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashteg {
  font-size: 21px;  
  font-weight: bold;
}

.footer-social {
  padding: 0px;
  min-width: 150px;
  max-width: 30%;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 28px;
}

.social-button {
  height: 48px;
  min-width: 46px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.htmlacademy {
  color: #000000;
}

.htmlacademy svg {
  vertical-align: middle;
  margin-left: 4px;
}

.htmlacademy:hover path,
.htmlacademy:focus path {
  fill: #81b3d2;
}

.htmlacademy:active path {
  fill: #bdbbbc;
}
/*------------Page footer------------*/





/*------------Modal search form------------*/
.modal-search {
  /* display: none; */
  position: absolute;
  
  left: 50%;
  margin-left: -284px;
  background-color: #ffffff;
  line-height: 26px;
  font-weight: bold;

  min-width: 568px;
  padding: 41px 55px;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);

  padding-top: 41px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 54px;
}

.search-form {
  text-align: left;
}

.search-form label {
  min-width: 112px;
  align-self: center;
}

.search-form input[type="text"] {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.date-input input[type="text"] {
  padding-left: 13px;
}

.search-form .child {
  min-width: 65px;
}

.search-form .string {
  width: 100%;
}

.search-form .number {
  width: 34px;
  text-align: center;
}

.search-form .date-input {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 16px;
}

.search-form .number-input {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 53px;
}

.search-form .pepole-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form button {
  min-width: 40px;
  min-height: 38px;
}

.search-form .blue-button {
  width: 100%;
  font-size: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.date-input input[type="text"]:focus {
  padding-left: 11px;
}

.search-form .change-button {
  font: inherit;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.change-button svg {
  display: inline-block;
  vertical-align: top;
  fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
  cursor: pointer;
}

.calendar:active path {
  fill: #88b7d5;
}

.search-form .change-button:hover,
.search-form .change-button:focus {
  color: #000000;
  cursor: pointer;
}

.search-form .change-button:active {
  color: #88b7d5;
}



/*------------Modal search form------------*/













/*--------------------hotels--------------------*/


/*------------Filter------------*/
.hotels-filter {
  background-image: url("../img/filter_background.jpg");
  background-color: #5496bd;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 217px;
}

.hotels-filter .form-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 73px;
  padding-right: 73px;
  color: #ffffff;
  text-align: left;
}

.form-filter fieldset {
  text-align: left;
  border: 0 none;
  padding: 0;
  margin: 0;
}

fieldset legend {
  font-size: 16px;
  font-weight: bold;
}

.hotels-filter .coast-item {
  padding: 0;
  margin-left: auto;
  margin-right: 0px;
  min-width: 317px;
}

.form-filter .checkboxes {
  padding-right: 117px;
}

.checkboxes legend {
  padding-bottom: 7px;
}

/*-------checkbox-------*/

.filter-checkbox-label {
  display: inline-block;
  vertical-align: top;
  height: 23px;
  position: relative;
  padding-top: 1px;
  padding-bottom: 8px;
  padding-left: 40px;
  cursor: pointer;
}

.filter-checkbox-label::before {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg) no-repeat top left;
  background-size: 23px 23px;
}

.filter-checkbox:checked ~ .filter-checkbox-label::before {
  background-image: url(../img/checkbox-on.svg);
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
}

.filter-checkbox:focus ~ .filter-checkbox-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox:disabled ~ .filter-checkbox-labeld {
  color: #6a6a6a;
}

.filter-checkbox:disabled ~ .filter-checkbox-label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-checkbox:checked:disabled ~ .filter-checkbox-label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

/*-------checkbox-------*/




/*--------------------------------------------------*/

.price-controls {
  position: relative;
  min-height: 36px;
  margin-top: 9px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  vertical-align: bottom;
  margin-top: 4px;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 64px;
  padding-top: 1px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
/*--------------------------------------------------------------*/

.filter-button {
  display: block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  min-height: 36px;
  min-width: 137px;  
  margin-left: 85px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

/*------------Filter------------*/






/*------------Search summary------------*/
.search-summary {
  font-size: 12px;
  line-height: 18px;
  background-color: #fefefe;
  box-sizing: border-box;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  padding-right: 73px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.summary-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 47px;
}

.summary-sort-type,
.summary-sort-direction {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.summary-sort-direction {
  margin-left: auto;
}

.summary-sort-type a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: rgba(0, 0, 0, 0.3);
  min-width: 80px;
}

.summary-sort-type a:hover,
.summary-sort-type a:focus {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #81b3d2;
}

.summary-sort-type a:active {
  text-decoration: none;
  color: #000000;
}

.summary-sort-type .selected {
  text-decoration: none;
  color: #81b3d2;
}

.summary-sort-direction li {
  padding-left: 12px;
  padding-top: 4px;
}

.summary-sort-direction path {
  fill: #cacaca;
}

.sort-direction-selected path {
  fill: #81b3d2;
}

.sort-direction:hover path,
.sort-direction:focus path {
  fill: #231f20;
}

.sort-direction:active path {
  fill: #81b3d2;
}

/*------------Search summary------------*/







.search-results {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #fefefe;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-list li {
  border-top: 1px solid #e5e5e5;
  padding: 30px 73px;
  display: flex;
  justify-content: space-between;
}

.hotels-list li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
  margin-bottom: 7px;
  margin-top: -5px;
  margin-left: 29px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #000000;
  opacity: 0.3;
}

.hotel-type-price {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 29px;
}

.hotel-type-price p {
  margin: 0;
}

.hotel-type-price .hotel-type {
  display: inline-block;
  vertical-align: middle;
  min-width: 110px;
  margin-right: 6px;
}

.hotel-sr {
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.hotel-rate {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px;
  min-width: 110px;
  color: #666666;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0;
  margin-top: 40px;
}

.hotel-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 29px;
  margin-top: 14px;
}

.hotels-list .button {
  min-height: 27px;
  min-width: 142px;
}

.hotels-list .blue-button {
  display: inline-block;
  margin-right: 6px;
  padding: 3px 17px;
  vertical-align: middle;
}